<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interestfriend"
    android:versionCode="11"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <application
        android:name="com.interestfriend.applation.MyApplation"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.interestfriend.activity.WelcomLoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.interestfriend.activity.imagefactory.ImageFactoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.interestfriend.activity.HomeActivity" -->
        <!-- android:label="@string/title_activity_home" > -->
        <!-- </activity> -->
        <activity
            android:name="com.interestfriend.activity.CreateCircleActivity"
            android:label="@string/title_activity_create_circle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 聊天页面 -->
        <activity
            android:name="com.interestfriend.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.BaiduMapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.interestfriend.activity.ShowBigImage"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 下载文件 -->
        <activity
            android:name="com.interestfriend.activity.ShowNormalFileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 语音通话页面 -->
        <activity
            android:name="com.interestfriend.activity.VoiceCallActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.VideoCallActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- choose video -->
        <activity
            android:name="com.interestfriend.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.interestfriend.chooseimage.SelectPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 发布成长界面 -->
        <activity
            android:name="com.interestfriend.activity.PublicshGrowthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.PublishGrowthImagePagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.interestfriend.showbigpic.ImagePagerActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置应用的 appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="774663576#interestfriend" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="771eee919e7e1179a1c249b38367c0d3" />

        <activity
            android:name="com.interestfriend.activity.CategoryCircleActivity"
            android:label="@string/title_activity_category_circle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.SearchCirclsActivity"
            android:label="@string/title_activity_search_circls"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.CircleInfoActivity"
            android:label="@string/title_activity_circle_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.CircleMemberOfSelfInfoActivity"
            android:label="@string/title_activity_circle_member_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.HomeActivity"
            android:label="@string/title_activity_welcom"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.register.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.PublishVideoActivity"
            android:label="@string/title_activity_publish_video"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 注意这个地方的位置，是在application标签里面；android:authorities对应Provider.AUTHORITY -->
        <provider
            android:name="com.interestfriend.contentprovider.MyCirclesContentProvider"
            android:authorities="com.quyou.circle.circles" />
        <provider
            android:name="com.interestfriend.contentprovider.MyCircleGrowthsContentProvider"
            android:authorities="com.quyou.circle.growths" />
        <provider
            android:name="com.interestfriend.contentprovider.MyCircleMemberContentProvider"
            android:authorities="com.quyou.circle.members" />
        <provider
            android:name="com.interestfriend.contentprovider.MyCircleVideoContentProvider"
            android:authorities="com.quyou.circle.videos" />
        <provider
            android:name="com.interestfriend.contentprovider.MyUserFriendContentProvider"
            android:authorities="com.quyou.user.friends" />

        <activity
            android:name="com.interestfriend.activity.NearCirclesActivity"
            android:label="@string/title_activity_near_circles"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.ChatAllHistoryActivity"
            android:label="@string/title_activity_chat_all_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.UpdateUserInfoActivity"
            android:label="@string/title_activity_update_user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.CircleMemberActivity"
            android:label="@string/title_activity_circle_member"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.CommentActivity"
            android:label="@string/title_activity_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.VideoCommentActivity"
            android:label="@string/title_activity_video_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.findpassword.FindPasswordActivity"
            android:label="@string/title_activity_find_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.MessageWarnctivity"
            android:label="@string/title_activity_message_warnctivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.JoinCircleActivity"
            android:label="@string/title_activity_qu_you_wain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.ReceiveJoinCircleActivity"
            android:label="@string/title_activity_receive_join_circle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.RefuseJoinCircleActivity"
            android:label="@string/title_activity_refuse_join_circle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.DissolveCircleActivity"
            android:label="@string/title_activity_dissolve_circle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.UpdateCircleDiscriptionActivity"
            android:label="@string/title_activity_update_circle_discription"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.PraiseAndCommentActivity"
            android:label="@string/title_activity_praise_and_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.WelcomActivity"
            android:label="@string/title_activity_welcom_loading"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.UserAgreement"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.interestfriend.service.UpdateService" >
        </service>
        <service android:name="com.interestfriend.service.UpLoadErrorLogService" >
        </service>

        <activity
            android:name="com.interestfriend.activity.KickOutActivity"
            android:label="@string/title_activity_kick_out"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.FriendVertifyListActivity"
            android:label="@string/title_activity_friend_vertify"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.FriendVertifyActivity"
            android:label="@string/title_activity_friend_vertify"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.MyUserFriendActivity"
            android:label="@string/title_activity_my_user_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.XinQingQiangActivity"
            android:label="@string/title_activity_xin_qing_qiang"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.CreateXinQingActivity"
            android:label="@string/title_activity_create_xin_qing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.SetImageEffectActivity"
            android:label="@string/title_activity_set_image_effect"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.XinQingCommentActivity"
            android:label="@string/title_activity_xin_qing_comment" >
        </activity>
        <activity
            android:name="com.interestfriend.activity.RefushXinQingCommentActivity"
            android:label="@string/title_activity_refush_xin_qing_comment" >
        </activity>
    </application>

</manifest>